
body {
    background-color: #e7e7e7;
}

.print {
    position: absolute;
    cursor: pointer;
    left: 82%;
}

.loading {
    left: 20%;
    top: 20%;
    font-size: 20rem;
    background: rgba(#0f172a, 0.8);
    color: #33beff;
    position:absolute
}